@font-face {
  font-family: Montserrat;
  src: url(./font/Montserrat-Regular.ttf);
}

* {
  font-family: "montserrat";
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: #ff6060;
}

body {
  max-width: 1440px;
  margin: 0px auto;
}
.navigation,
.aboutLogo,
.dropdown,
.homeLogo,
.AllCard,
.bannerAcc,
.description,
.infos {
  margin: 0 100px;
}

@media screen and (max-width: 960px) {
  .navigation,
  .aboutLogo,
  .dropdown,
  .homeLogo,
  .AllCard,
  .bannerAcc,
  .description,
  .infos {
    margin: 0px 50px;
  }
}
@media screen and (max-width: 680px) {
  .navigation,
  .aboutLogo,
  .dropdown,
  .homeLogo,
  .AllCard,
  .description,
  .infos,
  .bannerAcc {
    margin: 0px 20px;
  }
}
