@font-face {
  font-family: Montserrat;
  src: url(./font/Montserrat-Regular.ttf);
}
* {
  font-family: "montserrat";
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: #ff6060;
}

body {
  max-width: 1440px;
  margin: 0px auto;
}

#root {
  padding: 0px 100px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.navigation .navbar {
  display: flex;
  align-items: center;
  gap: 50px;
}
.navigation .navbar a {
  font-weight: 500;
  font-size: 1.5rem;
  border-bottom: 1px solid transparent;
}
.navigation .navbar a:hover {
  border-bottom: 1px solid #ff6060;
  transition: 0.4s;
}

.homeLogo {
  margin-top: 65px;
  height: 233px;
  background-position: center;
  background-size: cover;
  border-radius: 25px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../image/BG-home.png);
}
.homeLogo .homeSlogan {
  height: 233px;
  font-size: 3rem;
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
  font-weight: 600;
}

.aboutLogo {
  margin-top: 65px;
  height: 233px;
  background-position: center;
  background-size: cover;
  border-radius: 25px;
  background-image: url(../image/BG-about.png);
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error h2 {
  font-size: 18rem;
  font-weight: 900;
  margin-top: 4%;
}
.error p {
  font-size: 2rem;
  margin-top: 2%;
}
.error .back {
  margin-top: 10%;
  border-bottom: 1px solid #ff6060;
}

.footer {
  background-color: black;
  width: 1440px;
  color: white;
  height: 122px;
  margin-left: -100px;
  margin-top: 77px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.footer img {
  width: 122px;
}
.footer .footerText p {
  color: white;
}

.dropdown {
  margin-top: 40px;
  padding: 0px 100px;
}
.dropdown .collapse {
  margin-top: 30px;
}
.dropdown .cardTitle {
  background-color: #ff6060;
  display: flex;
  padding: 10px 20px;
  border-radius: 5px;
  justify-content: space-between;
}
.dropdown .cardTitle p {
  color: white;
  font-size: 1.2rem;
}
.dropdown .cardTitle img {
  transform: rotate(180deg);
  padding: 5px;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.dropdown .cardText {
  height: 0;
  opacity: 0;
  position: relative;
  bottom: 5px;
  background-color: #f6f6f6;
  border-radius: 0px 0px 5px 5px;
  font-size: 1.2rem;
  z-index: -1;
  transition: 0.3s;
}

.AllCard {
  border-radius: 25px;
  padding: 60px;
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  background-color: #f6f6f6;
  font-weight: 500;
}
.AllCard .imagecard {
  background-size: cover;
  max-width: 340px;
  height: 340px;
  border-radius: 10px;
}
.AllCard .imagecard p {
  position: relative;
  font-size: 1.3rem;
  color: white;
  top: 280px;
  padding: 0px 15px;
}

.bannerAcc {
  margin-top: -50px;
}

.bannerImg {
  height: 415px;
  width: 100%;
  overflow: hidden;
  display: flex;
  border-radius: 25px;
}
.bannerImg img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.left-right {
  position: relative;
  top: 248px;
  width: 100%;
  padding: 0px 25px;
  display: flex;
  justify-content: space-between;
}

#left,
#right {
  cursor: pointer;
}

.description {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.description .title h2 {
  font-size: 3rem;
}
.description .title p {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: 900;
}
.description .tag {
  margin-top: 25px;
}
.description .tag .tagname {
  margin-right: 20px;
  border-radius: 10px;
  height: 25px;
  width: 115px;
  background-color: #ff6060;
  color: white;
  padding: 5px 30px;
}
.description .host {
  display: flex;
  align-items: center;
  gap: 15px;
}
.description .host p {
  font-size: 1.2rem;
  width: 80px;
  text-align: right;
}
.description .host img {
  border-radius: 100px;
  width: 64px;
  height: 64px;
}/*# sourceMappingURL=index.css.map */