.description {
  display: flex;
  justify-content: space-between;
  .title {
    h2 {
      font-size: 2.5rem;
      max-width: 1000px;
    }
    p {
      margin-top: 10px;
      font-size: 1.1rem;
      font-weight: 900;
    }
  }
  .tag {
    margin-top: 25px;
    .tagname {
      margin-right: 20px;
      border-radius: 10px;
      height: 25px;
      width: 115px;
      background-color: #ff6060;
      color: white;
      padding: 5px 30px;
    }
  }
  .host {
    display: flex;
    align-items: center;
    gap: 15px;
    p {
      font-size: 1.2rem;
      width: 80px;
      text-align: right;
    }
    img {
      border-radius: 100px;
      width: 64px;
      height: 64px;
    }
  }
  .rating {
    margin-top: 30px;
  }
}
@media screen and (max-width: 890px) {
  .description {
    display: block;
  }
  .host-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 40px;
  }
  h2 {
    font-size: 2rem !important;
  }
}
@media screen and (max-width: 640px) {
  span {
    font-size: 0.8rem !important;
  }
}
@media screen and (max-width: 570px) {
  .tagname {
    font-size: 0.8rem !important;
    padding: 5px 10px !important;
  }
}
