.navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  .navbar {
    display: flex;
    align-items: center;
    gap: 50px;
    a {
      font-weight: 500;
      font-size: 1.5rem;
      border-bottom: 1px solid transparent;
    }
    a:hover {
      border-bottom: 1px solid #ff6060;
      transition: 0.4s;
    }
  }
}
@media screen and (max-width: 960px) {
  .webSiteLogo img {
    height: 50px;
  }
}
@media screen and (max-width: 680px) {
  a {
    font-size: 1.1rem !important;
  }
}
@media screen and (max-width: 415px) {
  .webSiteLogo img {
    height: 40px;
  }
  .navbar {
    gap: 20px !important;
  }
}
