.bannerAcc {
  margin-top: -50px;
}
.bannerImg {
  height: 415px;
  width: 100%;
  overflow: hidden;
  display: flex;
  border-radius: 25px;
  img {
    width: 100%;
    object-fit: cover;
  }
}
.left-right {
  position: relative;
  top: 248px;
  width: 100%;
  padding: 0px 25px;
  display: flex;
  justify-content: space-between;
}
#left,
#right {
  cursor: pointer;
}
