.bannerAcc {
  margin-top: -50px;
}
.bannerImg {
  height: 415px;
  width: 100%;
  overflow: hidden;
  display: flex;
  border-radius: 25px;
  img {
    width: 100%;
    object-fit: cover;
  }
}
.left-right {
  position: relative;
  top: 248px;
  width: 100%;
  padding: 0px 25px;
  display: flex;
  justify-content: space-between;
}
#left,
#right {
  cursor: pointer;
}
.numbers {
  text-align: center;
  p {
    position: relative;
    bottom: 50px;
    letter-spacing: 10px;
    font-size: 1.8rem;
    font-weight: 900;
    color: white;
  }
}
.delete {
  visibility: hidden;
}
@media screen and (max-width: 680px) {
  #left,
  #right {
    margin-top: 50px;
    height: 30px !important;
  }
  .numbers {
    visibility: hidden;
  }
}
